/* background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E); */
/* background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E); */

body {
  background-color: #f5f5f5;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
h1 {
  color: rgba(255, 0, 0, 0.239);
  font-size: 6rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainDiv {
  position: relative;
  top: -100px;
  width: 580px;
  height: 7vh;
}
.div1 {
  width: 96%;
  height: inherit;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0px 1px 2px rgba(126, 125, 125, 0.5); */
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.198);
  margin-left: 2%;
  position: relative;
  top: 286%;
}
.div2 {
  position: relative;
  top: 176.5%;
  width: 98%;
  height: inherit;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px rgba(126, 125, 125, 0.5);
  margin-left: 1%;
}
.div3 {
  position: relative;
  top: 66%;
  width: 100%;
  height: inherit;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px rgba(126, 125, 125, 0.5);
  /* text-align: center; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.top {
  position: relative;
  top: 277%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.108);
  margin-bottom: 1%;
}

.footer {
  width: 95%;
  display: flex;
  justify-content: space-around;
}
.filter-btn {
  width: 45%;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.All,
.Active,
.Completed {
  background-color: #ffffff;
  color: gray;
  font-size: 14px;
  padding: 3px 10px;
  border: 1px solid rgb(255, 255, 255);
}

.Clear-Completed {
  visibility:hidden;
  background-color: #ffffff;
  color: gray;
  font-size: 14px;
  padding: 3px 10px;
  border: 1px solid rgb(255, 255, 255);
}
.All:hover,
.Active:hover,
.Completed:hover,
.Clear-Completed:hover {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  border-color: rgba(255, 166, 0, 0.597);
}
.input {
  width: 100%;
  height: 70px;
  position: relative;
  top: 278%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.378);
  background-color: #ffffff;
}

/* input */
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.108);
}

.inputBox::placeholder {
  color: rgba(128, 128, 128, 0.284);
  font-weight: 400;
  line-height: 1.4em;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.inputBox {
  height: 42px;
  width: 90%;
  font-size: 24px;
  border: 0px solid;
  border-style: none;
  caret-color: rgba(212, 51, 51, 0.581);
}
.inputBox:focus {
  outline: none;
}

.itemdiv {
  width: 100%;
  height: 70px;
  display: flex;
  text-align: center;
  /* justify-content: space-between; */
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.336);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
}
input[type="checkbox"] {
  appearance: none;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  background: white;
  border: 1px solid rgba(85, 85, 85, 0.405);
  border-radius: 50%;
  order: -1;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E);
  background-size: 40px 40px;
  background-position-x: -9px;
  background-position-y: -6px;
  background-repeat: no-repeat;
  border: 1px solid #5dc2af;
}

.DeleteButton {
  display: none;
  border: none;
  background-color: white;
  font-size: 30px;
  color: rgba(255, 0, 0, 0.429);
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}
.itemdiv:hover .DeleteButton {
  display: inline-block;
}
.selectAll{
    background-color: white;
    border: none;
    color:rgba(0, 0, 0, 0.14);
    font-size: 20px;
    width: 70px;
    height: 20px;
    font-weight: 600;
    cursor: pointer;
}
